/**************************  HEADER  **************************/

@media screen and (max-width: 1100px) {
    .header__logo {
        width: 150px;
    }
}

@media screen and (max-width: 910px) {
    .header__logo {
        display: none;
    }
}

@media screen and (max-width: 415px) {
    h1 {
        font-size: 1.2rem;
    }

    header h2 {
        font-size: 1.1rem;
    }

    nav ul li a {
        font-size: 1rem;
    }
}

/**************************  MAIN  **************************/


@media screen and (max-width: 430px) {
    .container {
        margin-top: 20px;
    }
    
    .main__entete {
        text-align: center;
    }
}



/**************************  INDEX CARD  **************************/

@media screen and (max-width: 630px) {

    .card-container,
    .card-container:nth-child(odd) {
        flex-direction: column-reverse;
        height: 500px;
        width: 80%;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }

    .card-container__img {
        margin-top: 10px;
    }

    .card__text {
        padding: 10px
    }
}

/**************************  voitures  **************************/

@media screen and (max-width: 659px) {
    .occasions__card img {
        height: 350px;
    }
}


@media screen and (max-width: 415px) {
    .main {
        margin-top: 20px;
    }
}

/************************** DETAIL  **************************/

@media screen and (max-width: 800px) {
    .btn2 {
        display: block;
        text-align: center;
        margin: 55px 0;
    }
}

/************************** SERVICES  **************************/


@media screen and (max-width: 347px) {
    .service-card {
        width: 95%;
    }
}
